:root{
    --main-color:#4338ca;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container > div{
    border: 1px solid blue;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}
img{
    height: 4rem;
}
.sidebar-container{
    grid-row: 1/3;
    background-color: var(--main-color);
}
.content-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.projet-container{
    grid-row: 1/3;
}